/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  background-image: url('https://wheeler-centre-heracles.s3.amazonaws.com/wheeler-centre/assets/28/dd563008f611e681ddcb7831838d4b/Crocodile-Dundee-Film-Still-2.jpg');
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  // margin-body: 10px;
}

span{
  font-size: 15vw;
}

.contain{
  width: 70%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hold{
  text-align: center;
  color: #f1cb54;
  text-shadow: 0 0 10px #000;
  font-size: 15vw;
  margin-bottom: 50px;
  font-family: 'Walter Turncoat', cursive;
}


.button{
  margin-left: 10px;
  width: 3%;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-family: 'Francois One', sans-serif;
  box-shadow: inset 0 0 8px #522713;
  margin-bottom: 15px;
  border-radius: 5px;
}



.banner{
  margin-top: 75px;
  font-size: 50px;
  color: #ff5722;
  text-shadow: 0 0 8px #522713;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

.sorry, .happy{
  font-size: 45px;
  color: #ff5722;
  text-shadow: 0 0 8px #522713;
  margin-bottom: 50px;
  margin-top: 20px;
  font-family: 'Rock Salt', cursive;
}

.lives{
  color: #f1cb54;
  text-shadow: 0 0 10px #000;
  font-size: 15px;
  font-family: 'Walter Turncoat', cursive;
}
