/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


span{
  font-size: 15vw;

}

.contain{
  width: 70%;
  display: flex;
  justify-content:space-between;
}
